.fill-view-parent {
    position: relative
}

.fill-view {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: inherit;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.panel {
    width: 25%;
    height: 45%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px dashed #333;
}

.card {
    background: lightgrey;
    margin: 1px;
}

.showme1,.showme2,.showme3 {
    background-color: orange;
    border: 1px dashed #333;
}

.showme1 {
    min-height: 30px;
    min-width: 30px;
}

.showme2 {
    min-height: 40px;
    min-width: 40px;
}

.showme3 {
    min-height: 50px;
    min-width: 50px;
}
