.stackpanel {
    display: flex;
    flex-wrap: nowrap;

    @at-root > * {
        flex: 0 0 auto
    }

    @at-root &:not(.sp--v) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @at-root &.sp--left {
            justify-content: flex-start;
        }

        @at-root &.sp--h-center {
            justify-content: center;
        }

        @at-root &.sp--right {
            justify-content: flex-end;
        }

        @at-root &.sp--space-between {
            justify-content: space-between;
        }

        @at-root &.sp--space-around {
            justify-content: space-around;
        }

        @at-root &.sp--top {
            align-items: flex-start;
        }

        @at-root &.sp--v-center {
            align-items: center;
        }

        @at-root &.sp--bottom {
            align-items: flex-end;
        }

        @at-root &.sp--stretch {
            align-items: stretch;
        }

        @at-root &.sp--baseline {
            align-items: baseline;
        }

        .sp__item--top {
            align-self: flex-start;
        }

        .sp__item--center {
            align-self: center;
        }

        .sp__item--bottom {
            align-self: flex-end;
        }

        .sp__item--stretch {
            align-self: stretch;
        }

        .sp__item--baseline {
            align-self: baseline;
        }
    }

    @at-root &.sp--v {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @at-root &.sp--top {
            justify-content: flex-start;
        }

        @at-root &.sp--v-center {
            justify-content: center;
        }

        @at-root &.sp--bottom {
            justify-content: flex-end;
        }

        @at-root &.sp--space-between {
            justify-content: space-between;
        }

        @at-root &.sp--space-around {
            justify-content: space-around;
        }

        @at-root &.sp--left {
            align-items: flex-start;
        }

        @at-root &.sp--h-center {
            align-items: center;
        }

        @at-root &.sp--right {
            align-items: flex-end;
        }

        @at-root &.sp--stretch {
            align-items: stretch;
        }

        @at-root &.sp--baseline {
            align-items: baseline;
        }

        .sp__item--left {
            align-self: flex-start;
        }

        .sp__item--center {
            align-self: center;
        }

        .sp__item--right {
            align-self: flex-end;
        }

        .sp__item--stretch {
            align-self: stretch;
        }

        .sp__item--baseline {
            align-self: baseline;
        }
    }

    .push-right {
        margin-left: auto;
    }

    .push-left {
        margin-right: auto;
    }

    .push-up {
        margin-bottom: auto;
    }

    .push-down {
        margin-top: auto;
    }

    @for $i from 1 through 10 {
        & > .sp__item--#{$i}-flex {
            flex: #{$i} 0 auto;
        }
    }

    @for $i from 1 through 20 {
        & > .sp__item--#{$i*5}-pct {
            flex: 0 0 #{percentage($i/20)};
        }
    }

    $noOfCols: 16;
    @for $i from 1 through $noOfCols {
        & > .sp__item--#{$i}-of-#{$noOfCols} {
            flex: 0 0 #{percentage($i/$noOfCols)};
        }
    }
}
