.stackpanel {
  display: flex;
  flex-wrap: nowrap; }
  .stackpanel > div {
    flex: 1; }
  .stackpanel .sp__item--size-no-flex {
    flex: none; }
  .stackpanel:not(.sp--v) {
    flex-direction: row; }
    .stackpanel:not(.sp--v).sp--align-left {
      justify-content: flex-start; }
    .stackpanel:not(.sp--v).sp--align-h-center {
      justify-content: center; }
    .stackpanel:not(.sp--v).sp--align-right {
      justify-content: flex-end; }
    .stackpanel:not(.sp--v).sp--align-h-space-between {
      justify-content: space-between; }
    .stackpanel:not(.sp--v).sp--align-h-space-around {
      justify-content: space-around; }
    .stackpanel:not(.sp--v).sp--align-top {
      align-items: flex-start; }
    .stackpanel:not(.sp--v).sp--align-v-center {
      align-items: center; }
    .stackpanel:not(.sp--v).sp--align-bottom {
      align-items: flex-end; }
    .stackpanel:not(.sp--v).sp--align-v-stretch {
      align-items: stretch; }
    .stackpanel:not(.sp--v).sp--align-v-baseline {
      align-items: baseline; }
    .stackpanel:not(.sp--v) .sp__item--align-top {
      align-self: flex-start; }
    .stackpanel:not(.sp--v) .sp__item--align-v-center {
      align-self: center; }
    .stackpanel:not(.sp--v) .sp__item--align-bottom {
      align-self: flex-end; }
    .stackpanel:not(.sp--v) .sp__item--align-v-stretch {
      align-self: stretch; }
    .stackpanel:not(.sp--v) .sp__item--align-v-baseline {
      align-self: baseline; }
  .stackpanel.sp--v {
    flex-direction: column; }
    .stackpanel.sp--v.sp--align-top {
      justify-content: flex-start; }
    .stackpanel.sp--v.sp--align-v-center {
      justify-content: center; }
    .stackpanel.sp--v.sp--align-bottom {
      justify-content: flex-end; }
    .stackpanel.sp--v.sp--align-v-space-between {
      justify-content: space-between; }
    .stackpanel.sp--v.sp--align-v-space-around {
      justify-content: space-around; }
    .stackpanel.sp--v.sp--align-left {
      align-items: flex-start; }
    .stackpanel.sp--v.sp--align-h-center {
      align-items: center; }
    .stackpanel.sp--v.sp--align-right {
      align-items: flex-end; }
    .stackpanel.sp--v.sp--align-h-stretch {
      align-items: stretch; }
    .stackpanel.sp--v.sp--align-h-baseline {
      align-items: baseline; }
    .stackpanel.sp--v .sp__item--align-left {
      align-self: flex-start; }
    .stackpanel.sp--v .sp__item--align-h-center {
      align-self: center; }
    .stackpanel.sp--v .sp__item--align-right {
      align-self: flex-end; }
    .stackpanel.sp--v .sp__item--align-h-stretch {
      align-self: stretch; }
    .stackpanel.sp--v .sp__item--align-h-baseline {
      align-self: baseline; }
  .stackpanel > .sp__item--size-flex-1 {
    flex: 1; }
  .stackpanel > .sp__item--size-flex-2 {
    flex: 2; }
  .stackpanel > .sp__item--size-flex-3 {
    flex: 3; }
  .stackpanel > .sp__item--size-flex-4 {
    flex: 4; }
  .stackpanel > .sp__item--size-flex-5 {
    flex: 5; }
  .stackpanel > .sp__item--size-flex-6 {
    flex: 6; }
  .stackpanel > .sp__item--size-flex-7 {
    flex: 7; }
  .stackpanel > .sp__item--size-flex-8 {
    flex: 8; }
  .stackpanel > .sp__item--size-flex-9 {
    flex: 9; }
  .stackpanel > .sp__item--size-flex-10 {
    flex: 10; }
  .stackpanel > .sp__item--size-percent-10 {
    flex: 0 0 10%; }
  .stackpanel > .sp__item--size-percent-20 {
    flex: 0 0 20%; }
  .stackpanel > .sp__item--size-percent-30 {
    flex: 0 0 30%; }
  .stackpanel > .sp__item--size-percent-40 {
    flex: 0 0 40%; }
  .stackpanel > .sp__item--size-percent-50 {
    flex: 0 0 50%; }
  .stackpanel > .sp__item--size-percent-60 {
    flex: 0 0 60%; }
  .stackpanel > .sp__item--size-percent-70 {
    flex: 0 0 70%; }
  .stackpanel > .sp__item--size-percent-80 {
    flex: 0 0 80%; }
  .stackpanel > .sp__item--size-percent-90 {
    flex: 0 0 90%; }
  .stackpanel > .sp__item--size-percent-100 {
    flex: 0 0 100%; }
  .stackpanel > .sp__item--size-ratio-1 {
    flex: 0 0 8.33333%; }
  .stackpanel > .sp__item--size-ratio-2 {
    flex: 0 0 16.66667%; }
  .stackpanel > .sp__item--size-ratio-3 {
    flex: 0 0 25%; }
  .stackpanel > .sp__item--size-ratio-4 {
    flex: 0 0 33.33333%; }
  .stackpanel > .sp__item--size-ratio-5 {
    flex: 0 0 41.66667%; }
  .stackpanel > .sp__item--size-ratio-6 {
    flex: 0 0 50%; }
  .stackpanel > .sp__item--size-ratio-7 {
    flex: 0 0 58.33333%; }
  .stackpanel > .sp__item--size-ratio-8 {
    flex: 0 0 66.66667%; }
  .stackpanel > .sp__item--size-ratio-9 {
    flex: 0 0 75%; }
  .stackpanel > .sp__item--size-ratio-10 {
    flex: 0 0 83.33333%; }
  .stackpanel > .sp__item--size-ratio-11 {
    flex: 0 0 91.66667%; }
  .stackpanel > .sp__item--size-ratio-12 {
    flex: 0 0 100%; }
